---
import {versionIntermediateQuiz} from './data/version-intermediate';
import {Image} from 'astro:assets';
import { Icon } from '@astrojs/starlight/components';

export async function getStaticPaths() {
    return [
        {params: {slug: 'version-intermediate'}}
    ];
}

let activeQuestion = 0;
---
<header>
    <div class="header-top">
        <Image class="header-image" src="/quiz-icon.png" alt="Logo" width="220" height="100" />
        <Icon name="star" color="goldenrod" size="4rem" />
    </div>

    <div class="progress-container">
        <progress id="file" value="32" max="100"> 32% </progress>
        <label for="file">Question n°1</label>
    </div>
</header>
<main>
    <fieldset>
        <legend>{versionIntermediateQuiz.questions[activeQuestion].title} {activeQuestion}</legend>
        <ul>
            {versionIntermediateQuiz.questions[activeQuestion].options.map((option, index) => (
                <li>
                    <input type="radio" id={`option-${index}`} name="question-1" value={option} />
                    <label for={`option-${index}`}>{option.title}</label>
                </li>
            ))}
        </ul>
    </fieldset>
    <button id="next" type="button" >Next</button>
</main>

<style>
    html {
        height: 100%;;
    }
    body {
        margin: 0;
        background: #18181A;
        height: 100%;

        font-family: Verdana;

        background-image: linear-gradient(to right top, #3d5873, #354c66, #2d405a, #26354d, #1e2a41);
    }

    header {
        padding-block: 1rem;
        padding-inline: 2rem;;
    }

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .progress-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .progress-container label {
        color: white;
        font-size: 2rem;
        margin-block-start: 5rem;
    }

    progress {
        width: 80%;
        margin-block-start: 2rem;
        height: 4rem;
        background: #daa21b;
        border-radius: 1rem;
    }

    progress::-webkit-progress-bar {
        background-color: #1C2339;
        width: 100%;
        border-radius: 1rem;
    }
    progress {
        background-color: #1C2339;
    }

    /* value: */
    progress::-webkit-progress-value {
        background-color: #daa21b !important;
        border-radius: 1rem;
    }
    progress::-moz-progress-bar {
        background-color: #daa21b !important;
        border-radius: 1rem;
    }
    progress {
        color: #daa21b;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
    }

    legend {
        display: table;
        color: white;
        text-align: center;
        font-size: 4rem;
        margin-block-end: 4rem;
        width: 50rem;
        padding: 2rem;
    }
    fieldset {
        border: 0;
        margin: 0;
        min-width: 0;
        padding: 0.01em 0 0 0;
    }
    input {
        display: none;
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    li, a {
        background: white;
        text-align: center;
        padding-block: 2rem;
        border-radius: 3rem;
        font-size: 4rem;
        width: 40rem;

        box-shadow: 10px 10px 14px 10px rgba(00, 00, 00, 0.2);
    }

    a {
        display: block;;
        text-decoration: none;
        color: black;
        width: 30rem;
    }
</style>
